.btn {
  @include btn-size;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;

  &--hint {
    text-transform: uppercase;
    margin-left: 0;
    border: var(--border);
  }
}
.hint {
  display: none;
}
