.start-game {
  padding: 20px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background-color: var(--color-tertiary);
  z-index: 2;
  display: flex;
  flex-direction: column;
  display: none;
}
