*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #64b5f6;
  --color-secondary: #ccdbfd;
  --color-tertiary: #c1d3fe;
  --border: red solid 4px;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--color-tertiary);
}
