*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: red;
  --color-secondary: blue;
  --color-tertiary: #c1d3fe;
}

body {
  // background-color: var(--color-primary);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
